@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(25, 16, 2, 1);

  color: rgba(255, 248, 237, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  display: flex;
  height: 48px;
  background: rgba(49, 30, 12, 1);
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: rgba(49, 30, 12, 1);
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 0px 32px;

  gap: 28px;
  background: linear-gradient(180deg, #311e0c 0%, #191002 100%);
  border-bottom: 1px solid rgba(225, 168, 64, 1);
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Merriweather;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(255, 248, 237, 1);
  width: 186px;
  padding: 0 20px 10px;
}
.navigation__item-desk {
  font-family: Merriweather;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: Auto;
  text-decoration-thickness: Auto;
  text-decoration-skip-ink: auto;
  color: rgba(226, 202, 180, 1);
}
.navigation__link:hover,
.navigation__link:focus {
  border-bottom: 1px solid rgba(225, 168, 64, 1);
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 64px;
    padding: 10px 20px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 13px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    border: none;
  }
  .navigation__link {
    font-family: Merriweather;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 891px;
  padding: 56px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/home/1_home_mob.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title {
  font-family: Cinzel;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: -4%;
  text-align: center;

  background: linear-gradient(
    180deg,
    #ebcd91 4.85%,
    #5c3703 25.25%,
    #ebcd91 39.15%,
    #5c3703 56.3%,
    #ebcd91 74.93%,
    #5c3703 90.9%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-text {
  font-family: Merriweather;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;

  padding: 298px 0 24px;
}
.home__google-button_link:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 943px;
    padding: 199px 260px 0px;
    background-image: url("/image/home/1_home.png");
  }

  .home-title {
    font-family: Cinzel;
    font-weight: 700;
    font-size: 46px;
    line-height: 62.01px;
    letter-spacing: -4%;
    text-align: center;
    background: linear-gradient(
      180deg,
      #ebcd91 10%,
      #5c3703 33%,
      #ebcd91 53%,
      #5c3703 90%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .home-text {
    font-family: Merriweather;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;

    padding: 265px 20px 40px;
  }
}
.about {
  padding: 32px 16px 0px;
  margin: auto;
  width: 375px;
  height: 1190px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/about/3_about_mob.png");
}

.about-title {
  font-family: Cinzel;
  font-weight: 700;
  font-size: 30px;
  line-height: 40.44px;
  letter-spacing: -4%;
  text-align: center;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.65);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/title/title.png");
  color: rgba(255, 248, 237, 1);
  width: 375px;
  height: 94px;
  padding-top: 27px;
  padding-bottom: 16px;
  margin-left: -16px;
}
.about-title-two {
  background-image: url("/image/title/title\ \(2\).png");
}
.about-text {
  font-family: Merriweather;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;

  padding: 32px 0px 0;
}
.about-text-bold {
  font-family: Merriweather;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 256px;
}
@media screen and (min-width: 1200px) {
  .about {
    padding: 56px 172px 0;
    width: 1440px;
    height: 598px;
    background-image: url("/image/about/3_about.png");
  }

  .about-title {
    font-family: Cinzel;
    font-weight: 700;
    font-size: 36px;
    line-height: 48.53px;
    letter-spacing: -4%;
    width: 800px;
    height: 94px;

    padding-top: 22px;

    background-image: url("/image/title/title\ \(1\).png");
    color: rgba(255, 248, 237, 1);

    margin: auto;
  }
  .about-title-two {
    background-image: url("/image/title/title\ \(3\).png");
  }

  .about-text {
    font-family: Merriweather;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;

    padding: 48px 0 0;
  }
  .about-text-bold {
    font-family: Merriweather;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
    padding: 24px 29px 0 420px;
  }
}
.why {
  width: 375px;
  margin: auto;
  padding: 32px 16px;
}

.why-list {
  padding-top: 24px;

  display: flex;
  flex-direction: column;
  gap: 40px;
}
.why-item {
  width: 335px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.why-text-bold {
  font-family: Merriweather;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(226, 202, 180, 1);
}
.why-text {
  color: rgba(226, 202, 180, 1);
  padding-top: 16px;
  font-family: Merriweather;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
}
.why-title {
  font-family: Cinzel;
  font-weight: 700;
  font-size: 30px;
  line-height: 40.44px;
  letter-spacing: -1px;
}
@media screen and (min-width: 1200px) {
  .why {
    width: 1440px;
    padding: 56px 172px;
  }

  .why-list {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .why-item {
    width: 784px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
  }

  .why-text-bold {
    font-family: Merriweather;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
  }
  .why-text {
    color: rgba(226, 202, 180, 1);
    padding-top: 16px;
    font-family: Merriweather;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
  }
  .why-title {
    font-family: Cinzel;
    font-weight: 700;
    font-size: 36px;
    line-height: 48.53px;
    letter-spacing: 0;
  }
  .why-item-two {
    margin-left: 301px;
  }
}
.how {
  width: 375px;
  margin: auto;
  padding: 32px 16px;
  background: rgba(226, 202, 180, 1);
}

.how-list {
  padding-top: 24px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.how-item {
  width: 343px;
  border-radius: 8px;
  padding: 16px;
  background: rgba(49, 30, 12, 1);
}
.how-img {
  width: 311px;
  height: 252px;
  border-radius: 8px;
}
.how-text-bold {
  padding: 12px 0;
  font-family: Merriweather;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(225, 168, 64, 1);
}
.how-text {
  font-family: Merriweather;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .how {
    width: 1440px;
    padding: 56px 116px;
  }

  .how-list {
    padding-top: 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }
  .how-item {
    width: 384px;
    height: 460px;
    border-radius: 8px;
    padding: 16px;
  }
  .how-img {
    width: 352px;
    height: 252px;
    border-radius: 8px;
  }
}

.reviews {
  width: 375px;

  margin: auto;
  padding: 32px 16px;
}

.reviews-list {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.reviews-item {
  width: 343px;
  border-radius: 8px;
  padding: 12px;
  background: rgba(115, 82, 52, 1);
}
.reviews-item-top {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 12px;
}
.reviews-text-bold {
  font-family: Merriweather;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0%;

  color: rgba(255, 248, 237, 1);
}
.reviews-text {
  font-family: Merriweather;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: rgba(255, 248, 237, 1);
}

@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;

    padding: 56px 192px;
  }

  .reviews-list {
    padding-top: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px;
  }
  .reviews-item {
    width: 320px;
    border-radius: 8px;
    padding: 16px;
  }
  .reviews-item-top {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 12px;
  }
  .reviews-text-bold {
    font-family: Merriweather;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0%;

    color: rgba(255, 248, 237, 1);
  }
  .reviews-text {
    font-family: Merriweather;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
}

.faq {
  padding: 32px 16px;
  margin: auto;
  width: 375px;
  background: rgba(226, 202, 180, 1);
}
.faq-container {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.faq-item {
  border-radius: 8px;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: Merriweather;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0%;
  color: rgba(255, 248, 237, 1);
  background: rgba(115, 82, 52, 1);

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 12px 24px;
}

.toggle-button {
  background: none;
  border: none;

  cursor: pointer;
}

.faq-answer {
  display: none;
  padding-top: 12px;
  font-family: Merriweather;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;

  padding: 12px 24px;

  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  background: rgba(25, 16, 2, 1);
}
@media screen and (min-width: 1200px) {
  .faq {
    padding: 56px 172px;
    width: 1440px;
  }
  .faq-container {
    width: 1096px;
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: auto;
  }

  .faq-question {
    font-family: Merriweather;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
  }

  .faq-answer {
    font-family: Merriweather;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0%;
  }
}
.gallery {
  width: 375px;
  margin: auto;
  padding: 32px 16px;
  background: rgba(226, 202, 180, 1);
}

.gallery__list {
  margin: auto;

  margin-top: 24px;
  padding-bottom: 24px;
}
.gallery__item {
  width: 324px;
  height: 174px;
  border-radius: 4px;

  overflow: hidden;
  position: relative;
  margin: 0 4px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.gallery-button-container {
  display: none;
}
.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  content: none;
}

.slick-dots li {
  list-style: none;
  width: 24px;
  height: 20px;
  content: none;
  margin-left: -3px;
  margin-right: -3px;
}
.slick-dots li button:before {
  content: none;
}
.slick-dots li button {
  width: 100%;
  height: 100%;
  border: none;
  background: url("/image/gallery/Rectangle\ 43.png") no-repeat center/cover;
  font-size: 0;
  content: none;
}

.slick-dots li.slick-active button {
  background: url("/image/gallery/Rectangle\ 42.png") no-repeat center/cover;
}
@media screen and (min-width: 1200px) {
  .gallery-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 500px;
    position: relative;
    z-index: 2;
  }

  .gallery-button {
    background-color: transparent;
    border: none;
    padding: 0;
    -webkit-transition: scale 0.3s ease;
    transition: scale 0.3s ease;
  }

  .gallery-button:hover {
    scale: 120%;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    content: none;
    margin-bottom: -50px;
    padding-top: 40px;
  }
  .slick-dots li {
    list-style: none;
    width: 37px;
    height: 26px;
    content: none;
    margin-left: -3px;
    margin-right: -3px;
  }
  .gallery {
    width: 1440px;
    padding: 56px 0;
  }

  .gallery__item {
    width: 512px;
    height: 277px;
    border-radius: 8px;
    margin: 0 12px;
    overflow: hidden;
    position: relative;
  }

  .gallery__list {
    margin-left: 0px;
    width: 1380px;
    margin-top: 48px;
    margin-bottom: 48px;
    padding: 32px;
    margin-left: 20px;
  }
}
.features {
  width: 375px;
  height: 1840px;
  margin: auto;
  padding: 40px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/features/2_keyFeatures_mob.png");
}

.features-list {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.features-item {
  width: 335px;
  margin: auto;
  border-radius: 8px;
  padding: 16px;
  background: rgba(226, 202, 180, 1);
  border: 1px solid rgba(49, 30, 12, 1);
}
.features-item-two {
  margin-top: 410px;
}
.features-text-bold {
  font-family: Merriweather;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  color: rgba(49, 30, 12, 1);
}
.features-text {
  font-family: Merriweather;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: rgba(49, 30, 12, 1);
  padding-top: 8px;
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;
    height: 736px;
    padding: 56px 100px 0px;
    background-image: url("/image/features/2_keyFeatures.png");
  }

  .features-list {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    column-gap: 320px;
    height: 558px;
  }
  .features-item {
    width: 460px;
    border-radius: 8px;
    margin: 0;
    padding: 16px;
  }
  .features-item-three {
    padding: 16px 14px;
  }
  .features-item-two {
    margin-top: 0px;
  }
  .features-text-bold {
    font-family: Merriweather;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    color: rgba(49, 30, 12, 1);
  }
  .features-text {
    font-family: Merriweather;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: rgba(49, 30, 12, 1);
    padding-top: 8px;
  }
}
.footer {
  background: rgba(25, 16, 2, 1);
  padding: 72px 0px 40px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 24px;
}
.footer-text {
  font-family: Merriweather;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: Auto;
  text-decoration-thickness: Auto;
  text-decoration-skip-ink: auto;

  color: rgba(255, 248, 237, 1);
}
.footer-img {
  width: 375px;
  height: 137px;
  border-radius: 8px;
}
.footer-copyright {
  font-family: Merriweather;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(226, 202, 180, 1);
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 64px 0px 44px;
  }
  .footer-container {
    gap: 40px;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;

    gap: 48px;
  }
  .footer-text {
    font-family: Merriweather;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: Auto;
    text-decoration-thickness: Auto;
    text-decoration-skip-ink: auto;
  }
  .footer-img {
    width: 1188px;
    height: 404px;
    border-radius: 8px;
  }
  .footer-copyright {
    font-family: Merriweather;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
}
.policy-terms-container {
  padding: 82px 16px 32px;
  background: rgba(255, 248, 237, 1);
  color: rgba(25, 16, 2, 1);
  width: 375px;
  margin: auto;
}
.policy-terms-title {
  font-family: Cinzel;
  font-weight: 700;
  font-size: 30px;
  line-height: 40.44px;
  letter-spacing: -4%;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/title/title.png");
  width: 375px;
  height: 94px;
  margin: auto;
  padding-top: 27px;
  padding-bottom: 16px;
  margin-left: -16px;
}

.policy-terms-text {
  font-family: Merriweather;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  color: rgba(115, 82, 52, 1);
  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Merriweather;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  padding-top: 8px;
}
.policy-terms-text-one {
  font-family: Merriweather;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;

  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-family: Merriweather;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;
  font-family: Merriweather;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: rgba(30, 52, 224, 1);
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 104px 172px 56px;
    align-items: start;
    width: 1440px;
  }
  .policy-terms-title {
    font-family: Cinzel;
    font-weight: 700;
    font-size: 36px;
    line-height: 48.53px;
    letter-spacing: -4%;

    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background-image: url("/image/title/title\ \(1\).png");
    width: 800px;
    height: 94px;
    padding-top: 22px;
    margin: auto;
  }

  .policy-terms-text {
    font-family: Merriweather;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;

    padding-top: 40px;
  }
  .policy-terms-texts {
    font-family: Merriweather;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
  .policy-terms-text-one {
    font-family: Merriweather;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;

    padding-top: 30px;
  }

  .terms-list {
    list-style-type: disc;

    padding: 20px 0 20px 25px;
    font-family: Merriweather;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;

    display: flex;
    flex-direction: column;
  }

  .terms-lists {
    list-style-type: disc;
    font-family: Merriweather;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;

  padding: 40px 16px;
  background: rgba(255, 248, 237, 1);

  text-align: center;
  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-family: Merriweather;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;

  color: rgba(25, 16, 2, 1);
}
.cookie-button-container {
  padding: 20px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.cookie-button {
  border: none;
  width: 170px;
  height: 44px;
  padding: 10px;
  border-bottom: 2px solid rgba(115, 82, 52, 1);
  font-family: Merriweather;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;

  background-color: transparent;
}
#accept-cookies {
  color: rgba(255, 248, 237, 1);
  background: rgba(115, 82, 52, 1);

  border-radius: 12px;
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-family: Merriweather;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;

    width: 1168px;
    margin: auto;
  }
  .cookie-button-container {
    padding: 0;
    padding-top: 20px;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    gap: 80px;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 40px 136px;
    display: none;
  }
}
